{% extends "wiki/wiki_base.html" %}
{% load i18n %}

{% block extra_js %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.wiki_report').click(function() {
        var request = $.ajax({
          url: "{% url 'wiki-report' %}",
          type: "GET",
          data: {'wiki_pk': $(this).attr('rel')},
        });
        request.done(function ( data ) {
          $('.status').empty().append(data);
        });
        request.fail(function ( data ) {
          $('.status').empty().append("{% trans 'Something went wrong. Try again.' %}");
        });
      });
    });
  </script>
{% endblock %}

{% block wiki-base-content %}
  {% block wiki-title %}
    <h3>{{ object.title }} |
      <span>
        <a href="{% url 'wiki-edit' object.long_slug %}">{% trans 'Edit' %}</a>
      </span>|
      <span>
        <a class="wiki_report" href="javascript:void(0);" rel="{{ object.pk }}">{% trans 'Report' %}</a>
        <span class="status"></span>
      </span>
    </h3>
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block wiki-subwiki %}
    {% with children=object.get_published_children %}
      {% if children %}
        <h4>{% trans 'Sub Pages' %}</h4>
        <ul>
        {% for child in children %}
          <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  {% endblock %}

  {% block wiki-tags %}
    <small>{{ object.tags.all|join:", " }}</small>
  {% endblock %}
{% endblock %}
