{% extends "reversion/change_list.html" %}
{% load i18n wiki_tags %}

{% block extrahead %}
{{ block.super }}
<style>
.object-tools li.no-background {
    background: none;
}
.object-tools li.no-background:hover {
    background: none;
}
</style>
<script type="text/javascript">
    function go_add_page(value) {
        if (value != "") {
            window.location = value;
        }
    }
    function remove_add_link() {
        var link = document.getElementsByClassName('addlink')[0];
        if (link) {
            link.parentElement.remove();
        }
    }
    if(window.attachEvent) {
        window.attachEvent('onload', remove_add_link);
    } else {
        if(window.onload) {
            var curronload = window.onload;
            var newonload = function() {
                curronload();
                remove_add_link();
            };
            window.onload = newonload;
        } else {
            window.onload = remove_add_link;
        }
    }
</script>
{% endblock %}

{% block object-tools-items %}
<li class="no-background">
    <select class="addlist" onchange="go_add_page(this.value)">
        <option value="">{% trans "add"|capfirst %} ...</option>
        {% for model in model_list %}
            {% admin_url model 'add' as model_url %}
            {% if model_url %}
            <option value="{{ model_url }}">{{ model.meta__.verbose_name|capfirst }}</option>
            {% endif %}
        {% endfor %}
    </select>
</li>
{{ block.super }}
{% endblock %}
