{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}

{% block content %}
<h2>{{ suggestion_obj.content_type.name|capfirst }}</h2>
<h3>Text {% trans 'View' %}</h3>
<table>
  <tr>
    <th>{% trans 'Field' %}</th>
    <th>{% trans 'Current' %}</th>
    <th>{% trans 'Suggested' %}</th>
    <th>{% trans 'Diff' %}</th>
  </tr>
  {% for field, original_value, suggested_value, diff in compare_data %}
    <tr>
      <th>{{ field }}</th>
      <td>{{ original_value|linebreaks }}</td>
      <td>{{ suggested_value|linebreaks }}</td>
      <td>{{ diff|linebreaks }}</td>
    </tr>
  {% endfor %}
</table>
<br />
<h3>HTML {% trans 'View' %}</h3>
<table>
  <tr>
    <th>{% trans 'Field' %}</th>
    <th>{% trans 'Current' %}</th>
    <th>{% trans 'Suggested' %}</th>
    <th>{% trans 'Diff' %}</th>
  </tr>
  {% for field, original_value, suggested_value, diff in compare_data %}
    <tr>
      <th>{{ field }}</th>
      <td>{{ original_value|safe }}</td>
      <td>{{ suggested_value|safe }}</td>
      <td>{{ diff|safe }}</td>
    </tr>
  {% endfor %}
</table>

<input type="submit" name="accept" value="{% trans 'Accept' %}">
<input type="submit" name="reject" value="{% trans 'Reject' %}">

{% endblock %}